################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Framework/bin/Debug
/Framework/obj
/packages
/PageObjects/.vs/PageObjects/v16
/PageObjects/bin/Debug
/PageObjects/obj/Debug
/Tests/bin/Debug
/Tests/obj
/Framework/.vs/Selenium/v16/TestStore/0
/Framework/.vs/Selenium/v16
